.header {
  $header-height: 6em;
  $header-padding: 1em;
  $stop-container-margin: 1.5em;

  &-header {
      position: fixed;
      top: 0;
      height: $header-height;
      width: 100%;
      
      display: flex;
      padding: .3em 0 .3em 1em;
      box-sizing: border-box;
      border-bottom: 1px solid grey;
  }

  &-logo {
      height: $header-height - (2 * $header-padding);
  }

  &-imageContainer {
      display: flex;
      align-items: center;
  }

  &-innerContainer {
      flex: 8;
      display: flex;
      justify-content: stretch;
      align-items: center;
  }

  &-time {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 1em;
      box-sizing: border-box;
  }
}